
body {
    background-image: url('../src/assets/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: #e0e0ff;
    font-family: 'Comic Sans MS','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.glass-button {
    background: rgba(255, 255, 255, 0.08) ;
    border: 1px solid rgba(255, 255, 255, 0.55) !important;
    color: #e0e0ff ;
    border-radius: 20px ;
    transition: all 0.3s ease ;
}

.glass-button:hover {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
}

select , option , input , textarea {
    background: rgba(255, 255, 255, 0.08) !important;
    border: 1px solid rgba(255, 255, 255, 0.55) !important;
    color: #ffffff !important;
}

select:focus {
    border-color: #ffffff !important;
    box-shadow: none !important;
}
.form-check-input {
    background: rgba(255, 255, 255, 0.08) !important;
    border: 1px solid rgba(255, 255, 255, 0.55) !important;
    box-shadow: none !important;
}

.form-check-input:checked {
    background-color: rgb(255, 255, 255,0.08) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='white' d='M16.707 5.293a1 1 0 010 1.414l-7.414 7.414a1 1 0 01-1.414 0L3.293 9.535a1 1 0 011.414-1.414l3.172 3.172 6.707-6.707a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
    box-shadow: none !important;
}

select option {
    background-color: #ffffff !important; 
    color: #333 !important; 
}
.text-align-left{
    text-align: left !important;
}
.text-align-right{
    text-align: right !important;
}

.clear-text-blue{
    color: rgb(76, 255, 219);
}
.clear-text-green{
    color: aquamarine;
}


.glass-nav {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 1rem;
    width: fit-content;
    justify-self: center;
}

.modal {
    backdrop-filter: blur(10px);
}
.modal-content {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    color: white;
    padding: 1rem;
    border-radius: 20px;
}
.modal-header {
    border:none;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

.glass-nav .btn {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #e0e0ff;
    border-radius: 50px;
    padding: 8px 20px;
    transition: all 0.3s ease;
    margin: 0 5px;
    width: 50px;
    height: 50px;
}

.glass-nav .btn:hover {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    transform: translateY(-2px);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 13vh;
}
body{
    overflow: hidden !important;
}

.container-box {
    background: rgba(145, 106, 155,0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    width: 80%;
    height: 70vh;
    text-align: center;
}

.btn:focus:not(:focus-visible) {
    outline: none !important;
    box-shadow: none !important;
}

.justify-items-center{
    justify-items: center;
}



/* =========================================
glass scroll
========================================= */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.05);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    border-radius: 12px;
    
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.4);
}
